// American Hipster theme
$color1: rgba(230, 57, 70, 1);
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1);

$focus-color: $color1;
$bg-primary: $color2;
$help-color: $color3;
$highlight-color: $color4;


.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto;
}

.blog-header {
  padding-bottom: 4px;
  border-bottom: solid black 1px;
  display: grid;
  grid-template-columns: 10% auto 10%;
}

.blog-title {
  text-align: center;
  display: inline;
  font-size: 5vw;
}

.blog-header-left {}

.blog-header-right {
  position: absolute;
  right: 8px;
}

.blog-card {
  // border: solid black 1px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.45);
  padding: 4px;
  margin-bottom: 16px;
}

.blog-card-header {
  margin: 0 0 .25em;
}

.blog-card-title {
  font-size: 1.17em;
  font-weight: bold;
  display: inline;
}

.blog-card-author {
  display: inline;
  float: right;
  font-style: italic;
}

.blog-card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(4em + 8px);
  margin-bottom: 4px;
}

.blog-card p {
  margin: 0;
}

.blog-card-footer {
  background-color: grey;
  padding: 2px;
  margin: 0 -4px -4px;
}

// TODO need a small blocky font for .blog-card-category.
.blog-card-category {
  color: $bg-primary;
  background-color: $focus-color;
  display: inline;
  text-decoration: none;
  padding: 2px;
}

.blog-card-footer .fa {
  font-size: 1vw;
}

.sidebar {
  border: solid black 1px;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.45);
  padding: 4px;
  margin-bottom: 16px;
}

.sidebar h3 {
  margin: 0;
  text-align: center;
}

.article-categories {}

.article-categories div:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.article-categories div {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

.article-categories div:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.fa {
  font-size: 2vw;
  margin: .1em;
}

// Larger phones
@media only screen and (min-width: 750px) {
  .grid-container {
    grid-template-columns: auto 30%;
  }

  .blog-header {
    grid-column-start: 1;
    grid-column-end: 3;
  }

}
