// American Eagle theme
$color1: rgba(13, 59, 102, 1);
$color2: rgba(250, 240, 202, 1);
$color3: rgba(244, 211, 94, 1);
$color4: rgba(238, 150, 75, 1);
$color5: rgba(249, 87, 56, 1);


$focus-color: $color1;
$bg-primary: $color2;
$help-color: $color3;
$highlight-color: $color4;

@import 'base';


h1 {
  color: $focus-color;
}

h3 {
  color: $highlight-color;
}

.bg-main {
  background-color: $bg-primary;
}

.sidebar {
  color: $help-color;
  background-color: $color5;
}

.sidebar:visited {
  color: red;
}
