// American Hipster theme
$color1: rgba(230, 57, 70, 1);
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1);

$focus-color: $color1;
$bg-primary: $color2;
$help-color: $color3;
$highlight-color: $color4;

// Main title
// font-family: 'Cinzel', serif;
// Highlight title
// font-family: 'Niconne', cursive;
// Body
// font-family: 'Josefin Sans', sans-serif;

@import 'base';

h1 {
  color: $focus-color;
}

h3 {
  color: $highlight-color;
}

.bg-main {
  background-color: $bg-primary;
}

.topbar {
  background: yellow;
}

.sidebar {
  color: $help-color;
  background-color: $color5;
}

.sidebar:visited {
  color: red;
}
